target/
!.mvn/wrapper/maven-wrapper.jar

## STS ##
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

## IntelliJ IDEA ##
.idea
*.iws
*.iml
*.ipr
*.key
*.jks
*.yml

## JRebel ##
rebel.xml

## MAC ##
.DS_Store

## Other ##
logs/
temp/
tesco-admin-vue/node_modules/
tesco-third-services/src/main/resources/application.yml