# Windows-specific files that require CRLF:
*.bat       eol=crlf
*.txt       eol=crlf

# Unix-specific files that require LF:
*.java      eol=lf
*.sh        eol=lf

*.js linguist-language=java
*.css linguist-language=java
*.html linguist-language=java